.modal {
  display: flex;
  justify-content: center;
  align-items: center;

  &-dialog {
    position: relative;
    max-width: 780px;
    width: 95%;
    background: #ffffff;
    border-radius: 5px;
    margin: auto;
    padding: 40px 45px;
  }

  &-close-auth {
    font-size: 36px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 20px;
  }
}